@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

:root {
  --header-height: 2rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* overflow-x: hidden; */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}



input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

.control-button {
  font-size: 1.5rem;
  padding: 3px;
  cursor: pointer;
  transition: all .2s;
  transform: scale(0.99) translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}
.control-button:hover {
    transform: scale(1) translateY(-2px);
}